# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore temporary files
tmp/
*.tmp

# Ignore environment files
.env

# Ignore Dockerfile and .dockerignore itself
Dockerfile
.dockerignore

# Ignore git and other VCS directories
.git
.gitignore

# Ignore README files
README.md

# Ignore npm debug logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore operating system files
.DS_Store
Thumbs.db
